*{
    margin: 0;
    padding: 0;
    background-color: orchid;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-page-image{
    /* font-size: 10rem; */
    width: 400px;
}

.main-text{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
}
#dynamic{
    display: inline-block;
    position: relative;
}
#dynamic::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 5px;
    height: 90%;
    background-color: black;
}
#dynamic.active::after{
    display: none;
} 

.sub-text{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}
