*{
    margin: 0;
    padding: 0;
    background-color: orchid;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-page-image{
    /* font-size: 10rem; */
    width: 400px;
}

.main-text{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
}
#dynamic{
    display: inline-block;
}
#dynamic::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: black;
}

.sub-text{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}
